<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        justify-content: center;
        margin-left: 504px;
        margin-top: 154px;
    }
    h1{
        color: rgb(227, 70, 96);
        font-size:74px;
        font-style: italic;
    }
    .btn{
         border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1rem;
    border-radius: 2rem;
    text-transform: uppercase;
    background-color: peachpuff;
    box-shadow: 0 8px 6px -6px #000;
    outline: none;
    }
    .btn:hover{
         box-shadow: 0 8px 6px -6px rgb(192, 103, 206);
    }
</style>
<body>
    <img src="mernbackend\a.jpg" alt="">
    <h1>This is Home page</h1>
    <a href="/register"><button class="btn">register</button></a>
    <a href="/login"><button class="btn">Login</button></a>
    
</body>
</html>